{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "api": "./src/api",
          "bus": "./src/bus",
          "subway": "./src/subway",
          "components": "./src/components",
          "seed_data": "./src/seed_data",
          "styling": "./src/styling",
          "utils": "./src/utils"
        }
      }
    ]
  ]
}
