{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "screens": "./src/components/screens",
          "common": "./src/components/common",
          "api": "./src/api",
          "default": "./src/default"
        }
      }
    ]
  ]
}
